footer {
  padding: 75px 0 20px 0;
  background-color: $bg-dark;
  color: $light;
}

.footer {
  &__content{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $breakpoint480){
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  }
  &__logo{
    width: 130px;
    height: auto;
  }
  &__text{
    font-size: 32px;
    max-width: 310px;
    width: 100%;
    text-align: center;
    @media (max-width: $breakpoint768){
      display: none;
    }
  }
  &__contacts{
    display: flex;
    flex-direction: column;

    & a {
      color: $light;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 10px;
      @media (max-width: $breakpoint480){
        font-size: 18px;
        text-align: end;
      }
    }
  }

  &__copyright{
    @media (max-width: $breakpoint768){
      text-align: center;
    }
  }
}