.container {
  margin: 0 auto;
  max-width: $containerWidth;
  width: 100%;
  padding: 0 30px;
  @media (max-width: $breakpoint992){
    padding: 0 20px;
  }
  @media (max-width: $breakpoint768){
    padding: 0 15px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #FFFFFF;
}

.btn {
  color: $btn-text;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px 13px;
  background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.39) 39.52%, rgba(255, 255, 255, 0) 110.6%), linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
  box-shadow: inset 0px 2px 15px rgba(255, 255, 255, 0.41), inset 19px 0px 25px rgba(255, 255, 255, 0.11);
  position: relative;
  border-bottom: 2px solid #D0A863;
  transition: 0.3s all;
  text-transform: uppercase;
  transition: all 0.5s ease;

  &:hover{
    transform: scale(1.05);
  }
  &:active{
    transition: all 0.5s ease;
    background: linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
  }
}

.section {
  &__title{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: $text-color;
    text-transform: uppercase;
    text-align: center;
    @media (max-width: $breakpoint992){
      font-size: 28px;
    }
  }
  &__subtitle{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: $text-color;
    @media (max-width: $breakpoint992){
      font-size: 20px;
    }
  }
}

.form-message {
  position: absolute;
  background-color: #0ef10a;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: $text-color;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  left: 0;
}

