.section__team {
  padding-top: 150px;
  @media (max-width: $breakpoint768){
    padding-top: 75px;
  }
}

.team {
  &__title{
    text-align: center;
    margin-bottom: 10px;
    & span {
      color: $yelow;
    }
    @media (max-width: $breakpoint480){
      font-size: 24px;
    }
  }
  &__subtitle{
    text-align: center;
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    @media (max-width: $breakpoint768){
      flex-direction: column-reverse;
      gap: 40px;
    }
  }

  &__item_left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
  }

  &__image {
    max-width: 540px;
    width: 100%;
    height: auto;
    border: solid 13px #000000;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25), inset 18px 19px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      transform: scale(1.05);
    }
  }
}

.employye{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  flex: 0 1 35%;

  &__info{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__name{
    font-size: 18px;
    font-weight: 600;
  }
  &__jobtitle{
    font-style: italic;
  }

  & img {
    width: 120px;
    height: 120px;
  }
}

