//container & breakpoint
$containerWidth: 1140 + px;
$breakpoint1450: 1449.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;


//colors
$bg-dark: #282724;
$bg-grey: #ecebeb;
$light: #f3f3ee;
$yelow: #ffd686;
$btn-text: #835d13;
$text-color: #593F0D;
$text-privacy: #A8A8A8;


