<section class="section__documents">
  <div class="container">
    <div class="documents">
      <div class="documents__item documents__item_left">
        <img src="../../assets/img/documents.jpg" alt="documents">
      </div>
      <div class="documents__item documents__item_right">
        <h2 class="section__title documents__title">Какие документы нужны?</h2>
        <ul class="documents__list">
          <li>копия Устава</li>
          <li>копия свидетельства ИНН</li>
          <li>копия свидетельства ОГРН</li>
          <li>копия приказа о назначении директора</li>
          <li>копия решения о создании общества</li>
          <li>копия договора аренды</li>
        </ul>
      </div>
    </div>
  </div>
</section>