<section class="section__firms">
  <div class="container">
    <div class="firms">
      <h2 class="section__title firms__title">Нужна <span>готовая фирма</span> с сро?</h2>
      <p class="section__subtitle firms__subtitle">у нас есть что предложить</p>
      <div class="firms__form">
        <div class="firms__item">
          <img src="../../assets/img/firms__bg.png" alt="bg">
          <div class="firms__comment">Подберем под Ваши задачи уже зарегистрированную ООО с членством в СРО</div>
        </div>
        <form action="#" class="form">
          <h3 class="form__title">Укажите ваши контакты</h3>
          <p class="form__subtitle">мы перезвоним в ближайшее время</p>
          <div class="form__input">
            <label for="name">Ваше имя</label>
            <input type="text" name="name">
          </div>
          <div class="form__input">
            <label for="number">Телефон</label>
            <input type="tel" name="number">
          </div>
          <button class="btn form__btn">Оставить заявку</button>
        </form>
      </div>
    </div>
  </div>
</section>