<section class="section__firms">
  <div class="container">
    <div class="firms">
      <h2 class="section__title firms__title">Зачем <span>переплачивать</span> в сро?</h2>
      <p class="section__subtitle firms__subtitle">подскажем как сократить расходы</p>
      <div class="firms__form">
        <div class="firms__item">
          <img src="../../assets/img/firms__bg.png" alt="bg">
          <div class="firms__comment">Рассчитаю и покажу все Ваши расходы по СРО на несколько лет вперед</div>
        </div>
        <form class="form" id="tg" data-form="firms">
          <h3 class="form__title">Укажите ваши контакты</h3>
          <p class="form__subtitle">мы перезвоним в ближайшее время</p>
          <div class="form__input">
            <label for="name">Ваше имя</label>
            <input id="basic_name" type="text" name="name" required>
          </div>
          <div class="form__input">
            <label for="number">Телефон</label>
            <input id="inputTel" type="tel" name="number" required>
          </div>
          <button class="btn form__btn">Оставить заявку</button>
          <div class="form__message form-message">Заявка отправлена</div>
          <span class="form__privacy">Нажимая на кнопку, я принимаю <a href="../../privacy-policy.html">Политику конфидициальности</a></span>
        </form>
      </div>
    </div>
  </div>
</section>