<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__content">
        <img src="../../assets/img/footer__logo.svg" alt="logo" class="footer__logo">
        <div class="footer__text">Ваш помошник при выборе СРО</div>
        <div class="footer__contacts">
          <a href="tel:+79006208080">+7(900)620-80-80</a>
          <button class="btn footer__btn">Заказать звонок</button>
        </div>
      </div>
      <div class="footer__copyright">© 2022. Все права защищены</div>
    </div>
  </div>
</footer>