<section class="section__question">
  <div class="container">
    <div class="question">
      <h2 class="section__title question__title">Остались вопросы?</h2>
      <p class="section__subtitle question__subtitle">оставьте контакты и мы перезвоним</p>
      <form class="question__form" id="tg" data-form="questions">
        <input type="text" name="name" placeholder="Ваше имя" required>
        <input id="inputTel" type="tel" name="number" placeholder="Телефон" required>
        <button class="btn question__btn">Отправить заявку</button>
        <div class="question__form-message form-message">Заявка отправлена</div>
      </form>
      <span class="question__privacy">Нажимая на кнопку, я принимаю <a href="../../privacy-policy.html">Политику конфидициальности</a></span>
    </div>
  </div>
</section>