<section class="section__question">
  <div class="container">
    <div class="question">
      <h2 class="section__title question__title">Остались вопросы?</h2>
      <p class="section__subtitle question__subtitle">оставьте контакты и мы перезвоним</p>
      <form class="question__form">
        <input type="text" name="name" placeholder="Ваше имя">
        <input type="tel" name="tel" placeholder="Телефон">
        <button class="btn question__btn">Отправить заявку</button>
      </form>
    </div>
  </div>
</section>