<header class="header">
  <div class="container">
    <nav class="header__nav navigation">
      <img src="../../assets/img/logo.svg" alt="logo" class="header__logo">
      <div class="navigation__item">
        <div class="navigation__info">
          <a class="navigation__phone" href="tel:+79006208080">+7(900)620-80-80</a>
          <span>Ужудневно с 10-00 до 22-00</span>
        </div>
        <button class="navigation__btn btn">Заказать звонок</button>
      </div>
    </nav>
  </div>
</header>