<header class="header">
  <div class="container">
    <nav class="header__nav navigation">
      <img src="../../assets/img/logo.svg" alt="logo" class="header__logo">
      <div class="navigation__item">
        <div class="navigation__info">
          <a class="navigation__phone" href="tel:+79006208080">+7(900)620-80-80</a>
          <span>Ужудневно с 10-00 до 22-00</span>
        </div>
        <button class="navigation__btn btn" id="modalBtn">Заказать звонок</button>
      </div>
    </nav>
  </div>
  <section class="section__hero">
    <div class="container">
      <div class="hero">
        <div class="hero__item hero__item_left">
          <h1 class="hero__title">Вступить в СРО<br>в Ростове-на-Дону<br><span>под ключ за 1 день</span></h1>
          <ul class="hero__list">
            <li>Мы сами подготовим все документы</li>
            <li>Подберем специалистов НРС</li>
            <li>Подскажем как сократить расходы</li>
          </ul>
          <button class="btn hero__btn" id="modalBtn">Записаться на консультацию</button>
        </div>
        <div class="hero__item hero__item_right">
          <img src="../../assets/img/hero__img.png" alt="photo of the director" class="hero__image">
          <div class="hero__info">
            Максим Логачев
            <span>Генеральный директор</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>