<div class="modal-form">
  <div class="modal-from__content">
    <h2 class="section__title">Заполните данные</h2>
    <form id="tg" data-form="modal">
      <input type="text" name="name" placeholder="Ваше имя" required>
      <input type="tel" id="inputTel" name="number" placeholder="Телефон" data-input-type="modal-type" required>
      <div class="modal-form__message form-message">Заявка отправлена</div>
      <button class="btn">Отправить заявку</button>
      <span class="question__privacy">Нажимая на кнопку, я принимаю <a href="../../privacy-policy.html">Политику конфидициальности</a></span>
    </form>
    <span class="close-form">&times;</ы>
  </div>
</div>