<section class="section__prices">
  <div class="container">
    <div class="prices">
      <h2 class="section__title prices__title"><span>Тарифы</span> при вступлении</h2>
      <p class="section__subtitle prices__subtitle">предлагаем выгодные условия</p>
      <div class="prices__wrap">
        <div class="price">
          <div class="price__title">Строительство</div>
          <div class="price__info">
            <div class="price__unit">
              <span>Взнос в КФ</span>
              <span>100 000р</span>
            </div>
            <div class="price__unit">
              <span>Членский взнос</span>
              <span>5000р</span>
            </div>
            <div class="price__unit">
              <span>Вступительный взнос</span>
              <span>0р</span>
            </div>
            <div class="price__unit">
              <span>Страховой взнос</span>
              <span>0р</span>
            </div>
          </div>
          <div class="price__total">
            <span>ИТОГО:</span>
            <span>от 105 000р</span>
          </div>
          <button class="btn price__btn">Выбрать</button>
        </div>
        <div class="price">
          <div class="price__title">Проектирование</div>
          <div class="price__info">
            <div class="price__unit">
              <span>Взнос в КФ</span>
              <span>50 000р</span>
            </div>
            <div class="price__unit">
              <span>Членский взнос</span>
              <span>5000р</span>
            </div>
            <div class="price__unit">
              <span>Вступительный взнос</span>
              <span>0р</span>
            </div>
            <div class="price__unit">
              <span>Страховой взнос</span>
              <span>0р</span>
            </div>
          </div>
          <div class="price__total">
            <span>ИТОГО:</span>
            <span>от 55 000р</span>
          </div>
          <button class="btn price__btn">Выбрать</button>
        </div>
        <div class="price">
          <div class="price__title">Изыскания</div>
          <div class="price__info">
            <div class="price__unit">
              <span>Взнос в КФ</span>
              <span>50 000р</span>
            </div>
            <div class="price__unit">
              <span>Членский взнос</span>
              <span>5000р</span>
            </div>
            <div class="price__unit">
              <span>Вступительный взнос</span>
              <span>0р</span>
            </div>
            <div class="price__unit">
              <span>Страховой взнос</span>
              <span>0р</span>
            </div>
          </div>
          <div class="price__total">
            <span>ИТОГО:</span>
            <span>от 55 000р</span>
          </div>
          <button class="btn price__btn">Выбрать</button>
        </div>
      </div>
    </div>
  </div>
</section>