<section class="section__prices">
  <div class="container">
    <div class="prices">
      <h2 class="section__title prices__title"><span>Тарифы</span> при вступлении</h2>
      <p class="section__subtitle prices__subtitle">предлагаем выгодные условия</p>
      <div class="prices__wrap">

        <div class="price">
          <img src="../../assets/img/price__bg1.jpg" alt="construction" class="price__image">
          <div class="price__title">Строительство</div>
          <div class="price__info">
            <span class="price__unit-title">Ваши расходы:</span>
            <div class="price__unit">
              <span>Взнос в КФ</span>
              <div class="price__unit-fond">100 000р</div>
            </div>
            <span class="price__unit-title">С нами экономите на:</span>
            <div class="price__unit">
              <span>Членский взнос</span>
              <del>5000р</del>
            </div>
            <div class="price__unit">
              <span>Вступительный взнос</span>
              <del>10 000р</del>
            </div>
            <div class="price__unit">
              <span>Страховой взнос</span>
              <del>10 000р</del>
            </div>
            <div class="price__total">
              <span>ИТОГО:</span>
              <span>100 000р</span>
            </div>
            <button class="btn price__btn" id="modalBtn">Выбрать</button>
          </div>
        </div>

        <div class="price">
          <img src="../../assets/img/price__bg2.jpg" alt="construction" class="price__image">
          <div class="price__title">Проектирование</div>
          <div class="price__info">
            <span class="price__unit-title">Ваши расходы:</span>
            <div class="price__unit">
              <span>Взнос в КФ</span>
              <div class="price__unit-fond">50 000р</div>
            </div>
            <span class="price__unit-title">С нами экономите на:</span>
            <div class="price__unit">
              <span>Членский взнос</span>
              <del>5000р</del>
            </div>
            <div class="price__unit">
              <span>Вступительный взнос</span>
              <del>10 000р</del>
            </div>
            <div class="price__unit">
              <span>Страховой взнос</span>
              <del>10 000р</del>
            </div>
            <div class="price__total">
              <span>ИТОГО:</span>
              <span>50 000р</span>
            </div>
            <button class="btn price__btn" id="modalBtn">Выбрать</button>
          </div>
        </div>

        <div class="price">
          <img src="../../assets/img/price__bg3.jpg" alt="construction" class="price__image">
          <div class="price__title">Изыскания</div>
          <div class="price__info">
            <span class="price__unit-title">Ваши расходы:</span>
            <div class="price__unit">
              <span>Взнос в КФ</span>
              <div class="price__unit-fond">50 000р</div>
            </div>
            <span class="price__unit-title">С нами экономите на:</span>
            <div class="price__unit">
              <span>Членский взнос</span>
              <del>5000р</del>
            </div>
            <div class="price__unit">
              <span>Вступительный взнос</span>
              <del>10 000р</del>
            </div>
            <div class="price__unit">
              <span>Страховой взнос</span>
              <del>10 000р</del>
            </div>
            <div class="price__total">
              <span>ИТОГО:</span>
              <span>50 000р</span>
            </div>
            <button class="btn price__btn" id="modalBtn">Выбрать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>