<section class="section__reviews">
  <div class="container">
    <div class="reviews">
      <h2 class="reviews__title section__title">Отзывы клиентов</h2>
      <div class="slider">

        <next class="swiper slider__wrapper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper slider__inner">
            <!-- Slides -->
            <div class="swiper-slide slider__slide"><img src="../../assets/img/reviews__1.jpg" alt="review"></div>
            <div class="swiper-slide slider__slide"><img src="../../assets/img/reviews__2.jpg" alt="review"></div>
            <div class="swiper-slide slider__slide"><img src="../../assets/img/reviews__3.jpg" alt="review"></div>
            <div class="swiper-slide slider__slide"><img src="../../assets/img/reviews__4.jpg" alt="review"></div>
            <div class="swiper-slide slider__slide"><img src="../../assets/img/reviews__5.jpg" alt="review"></div>
            <div class="swiper-slide slider__slide"><img src="../../assets/img/reviews__6.jpg" alt="review"></div>
            <div class="swiper-slide slider__slide"><img src="../../assets/img/reviews__7.jpg" alt="review"></div>
          </div>
          
          <!-- If we need navigation buttons -->
        </next>
        <div class="swiper-button-prev slider__btn slider__btn_prev"></div>
        <div class="swiper-button-next slider__btn slider__btn_next"></div>
        <div class="swiper-pagination slider__pagination"></div>
      </div>
        
    </div>
  </div>
</section>