<section class="section__service">
  <div class="container">
    <div class="service">
      <h2 class="service__title section__title">с нами очень удобно...</h2>
      <div class="service__content">
        <div class="service__item service__item_left">
          <div class="service__text-wrap service__text-wrap_left">
            <div class="service__text">ЗНАЕМ КАК СОКРАТИТЬ РАСХОДЫ</div>
            <div class="service__subtext">зачем платить больше?</div>
          </div>
          <div class="service__text-wrap service__text-wrap_left">
            <div class="service__text">ВСТУПАЕТЕ БЕЗ ПОСРЕДНИКОВ</div>
            <div class="service__subtext">платите только в СРО</div>
          </div>
        </div>
        <div class="service__item service__item_center">
          <div class="service__image-wrap">
            <img src="../../assets/img/service__img-inner.png" alt="handshake">
          </div>
        </div>
        <div class="service__item service__item_right">
          <div class="service__text-wrap service__text-wrap_right">
            <div class="service__text">ГОТОВИМ ДОКУМЕНТЫ САМИ</div>
            <div class="service__subtext">Вам нужно только подписать</div>
          </div>
          <div class="service__text-wrap service__text-wrap_right">
            <div class="service__text">СПРАВИМСЯ ЗА ОДИН ДЕНЬ</div>
            <div class="service__subtext">ценим Ваше время</div>
          </div>
        </div>
      </div>   
    </div>
  </div>
</section>