<section class="section__service">
  <div class="container">
    <div class="service">
      <h2 class="section__title">Что вы получаете</h2>
      <p class="section__subtitle service__subtitle">полный комплекс услуг в одном месте</p>
      <div class="advantages">
        <div class="advantages__item advantages__item_1">
          <div class="advantages__info">
            <h3 class="advantages__title">Консультация</h3>
            <p class="advantages__text">За 13 лет мы решили множество нестандартных вопросов.</p>
          </div>
        </div>

        <div class="advantages__item advantages__item_2">
          <div class="advantages__info">
            <h3 class="advantages__title">Без посредников</h3>
            <p class="advantages__text">Все счета выставляются и оплачиваются напрямую в СРО.</p>
          </div>
        </div>

        <div class="advantages__item advantages__item_3">
          <div class="advantages__info">
            <h3 class="advantages__title">Подготовка документов</h3>
            <p class="advantages__text">Мы все подготовим и пришлем Вам на подпись.</p>
          </div>
        </div>

        <div class="advantages__item advantages__item_4">
          <div class="advantages__info">
            <h3 class="advantages__title">Срочность</h3>
            <p class="advantages__text">Сделаем все будет сделано быстро и качественно.</p>
          </div>
        </div>

        <div class="advantages__item advantages__item_5">
          <div class="advantages__info">
            <h3 class="advantages__title">Специалисты НРС</h3>
            <p class="advantages__text">Если нет своих, то подберем необходимых.</p>
          </div>
        </div>

        <div class="advantages__item advantages__item_6">
          <div class="advantages__info">
            <h3 class="advantages__title">Сопровождение</h3>
            <p class="advantages__text">Оказываем помощь после вступления.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>