<section class="section__team">
  <div class="container">
    <div class="team">
      <h2 class="section__title team__title">Мы <span>официально аккредитованный</span> центр в ростове</h2>
      <p class="section__subtitle team__subtitle">качество оказываемых услуг гарантируется</p>
      <div class="team__content">

        <div class="team__item team__item_left">
            <div class="employye">
              <img src="../../assets/img/team1.jpg" alt="employye">
              <div class="employye__info">
                <span class="employye__name">Максим Логачев</span>
                <span class="employye__jobtitle">Генеральный директор</span>
              </div>
            </div>
    
            <div class="employye">
              <img src="../../assets/img/team2.jpg" alt="employye">
              <div class="employye__info">
                <span class="employye__name">Илья Нестеров</span>
                <span class="employye__jobtitle">Отдел работы с клиентами</span>
              </div>
            </div>
    
            <div class="employye">
              <img src="../../assets/img/team3.jpg" alt="employye">
              <div class="employye__info">
                <span class="employye__name">Елена Нестерова</span>
                <span class="employye__jobtitle">Отдел делопроизводства</span>
              </div>
            </div>
    
            <div class="employye">
              <img src="../../assets/img/team4.jpg" alt="employye">
              <div class="employye__info">
                <span class="employye__name">Максим Баранов</span>
                <span class="employye__jobtitle">Отдел лицензирования</span>
              </div>
            </div>
        </div>
        <div class="team__item team__item_right">
          <img src="../../assets/img/team__accreditation.jpg" alt="accreditation" class="team__image" id="accredImg">
        </div>
      </div>
    </div>
  </div>
</section>