<section class="section__worked">
  <div class="container">
    <div class="worked">
      <div class="worked__bg">
        <div class="worked__line">
          <div class="worked__inner">
            <div class="worked__item worked__item_left">
              <h2 class="section__title worked__title">Как мы работаем?</h2>
              <ul class="steps">
                <li class="steps__list">
                  <div class="steps__num">1</div>
                  <div class="steps__info">
                    <h3 class="steps__title">Знакомство</h3>
                    <span class="steps__text">Свяжемся удобным для Вас способом</span>
                  </div>
                </li>
      
                <li class="steps__list">
                  <div class="steps__num">2</div>
                  <div class="steps__info">
                    <h3 class="steps__title">Подготовка документов</h3>
                    <span class="steps__text">Мы готовим документы - Вы подписываете</span>
                  </div>
                </li>
      
                <li class="steps__list">
                  <div class="steps__num">3</div>
                  <div class="steps__info">
                    <h3 class="steps__title">Оплата взносов</h3>
                    <span class="steps__text">Закажем и пришлем счета для СРО</span>
                  </div>
                </li>
      
                <li class="steps__list">
                  <div class="steps__num">4</div>
                  <div class="steps__info">
                    <h3 class="steps__title">Вступление в СРО</h3>
                    <span class="steps__text">Внесем в реестры, получим выписку</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="worked__item worked__item_right">
              <img src="../../assets/img/worked__img.png" alt="работник" class="worked__img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>